body,
body * {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.bg-main {
    background-color: #fff;
}

p,
h1, 
div{
    color: #F1D3B4;
}
