.container{
    background-color: #F56C61;
    width: 1600px;
    height: 900px;
    margin-left: calc(50% - 800px);
    margin-top: calc(50vh - 450px);
    text-align: center;
}

@media (max-width:1600px) {
    .container{
        width: 800px;
        height: 450px;
        margin-left: calc(50% - 400px);
        margin-top: calc(50vh - 225px);
    }
}

@media (max-width:800px) {
    .container{
        width: 400px;
        height: 225px;
        margin-left: calc(50% - 200px);
        margin-top: calc(50vh - 112.5px);
    }
}

@media (max-width:400px) {
    .container{
        width: 100%;
        height: 100vh;
        margin: 0;
    }
}