.search {
    padding: 0.5em;
    background-color: #B9443E;
    font-size: 15px;
    display: flex;
    align-content: center;
    gap: 0.5em;
}


.search .btn,
.search input {
    display: inline-block;
    font-size: 1em;
    background-color: #F6E5CF;
    border-radius: 0.25em;
    border: 1px solid #FED5BA;
}
.search input{
    font-size: 2em;
    width: 100%;
    border-radius: 0.125em;
}