/* base */
@import '../base/base.css';
@import '../base/layout.css';
/* 3rd-party */

/* components */
@import '../components/button.css';
@import '../components/main-img.css';
@import '../components/search.css';

/* Custom style below this comment line */

.row {
    width: 80%;
    display: inline-block;
}

.narrow-row {
    width: 60%;
    display: inline-block;
}

.title {
    line-height: 1.25em;
    font-size: 38px;
    margin-top: 40px;
}